

/* ===============
            Display
  =============== */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

li {
    padding: 0 10px;
}

.page {
    height: 850px;
    padding-top: 80px;
}

header {
    padding-bottom: 200px;
    color: white;
}

.parallax {
    color: black;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)),
        url("img/calm.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ===== Footer ===== */

form {
    width: 400px;
    margin: auto;
}

footer {
    height: 100px;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

/* ===== Contact Form ===== */

.form-control {
    margin-bottom: 2px;
    border: none;
    border-radius: 0;
    background: #1E242C;
    color: white;
}

.form-control:focus {
    background: #1E242C;
    color: white;
}

.contact {
    height: 644px;
    border-bottom: 1px solid black;
}

.page-top {
    padding-top: 100px;
}

/* ===============
             Styling
  =============== */

  .my-pic {
      border: 1px solid black;
      border-radius: 50%;
  }

/* ===== Skills Chart ===== */

.skills {
    margin-bottom: 50px;
}

.bar {
    margin: 10px auto;
    width: 350px;
    height: 26px;
    background: whitesmoke;
}

.bar-fill {
    background: lightseagreen;
}

.bar-tag {
    font-size: .8em;
    text-align: center;
    padding: 3.5px;
    width: 75px;
    background: powderblue;
    font-weight: bold;
}

/* ===============
        Media Queries
  =============== */

@media (min-width: 515px) {

    .bar {
        width: 500px;
    }

}
