
body {
    background-color: lightgray;
}

header {
    padding-bottom: 75px;
}

caption {
    caption-side: top;
    padding-bottom: 0;
}

th {
    padding: 10px;
}

footer {
    height: 100px;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
}

.page {
    height: 744px;
    border-bottom: 1px solid black;
}

.contact {
    height: 644px;
    border-bottom: 1px solid black;
    margin-top: 150px;
}

.page-top {
    margin-top: 100px;
}
